<div class="flex justify-center items-center h-screen w-screen">
  <div class="flex flex-col-reverse justify-center items-center">
    <app-card class=" p-12 rounded-md text-2xl w-500 h-fit">
      <div class="flex flex-col">
        <img src="../../../assets/images/logo.svg" alt="Image Unavailable" class="mb-12" />
        <div class="flex flex-col gap-2 mb-4">
          <label for="username" class="text-xs">Username</label>
          <input placeholder="Username" class="border-2 border-green rounded-lg text-sm font-roboto p-2" id="username"
            [formControl]="$any(parentForm.controls['username'])" />
        </div>
        <div class="flex flex-col gap-2 mb-4">
          <label for="password" class="text-xs">Password</label>
          <input type="password" class="border-2 border-green rounded-lg text-sm font-roboto p-2" id="password"
            placeholder="Password" [formControl]="$any(parentForm.controls['password'])" />
        </div>
        <div class="flex justify-center items-center mt-8">
          <app-button (click)="click()" text="Login"
            class="rounded-2xl bg-green text-white text-sm w-52 h-12"></app-button>
        </div>
      </div>
    </app-card>
  </div>
</div>