<div class="grid grid-cols-3 gap-5">
    <div class="flex flex-col mb-4 col-span-3">
        <h1 class="text-green text-2xl">Edit A Food Special</h1>
        <h2 class="text-sm mb-6">Edit a food item or combo that is on special</h2>
    </div>
    <div class="flex flex-col mb-4 col-span-1">
        <label for="name" class="text-sm ml-3">
            Name
        </label>
        <input type="text" id="name" [formControl]="$any(parentForm.controls['name'])"
            class="rounded-2xl p-4 w-72 h-10 border-1 text-black border-black focus:border-green focus:outline-none text-sm"
            placeholder="Item Name">
    </div>
    <div class="flex flex-col mb-4 col-span-1">
        <label for="price" class="text-sm ml-3">
            Price
        </label>
        <input type="number" id="price" [formControl]="$any(parentForm.controls['price'])"
            class="rounded-2xl p-4 w-72 h-10 border-1 text-black border-black focus:border-green focus:outline-none text-sm"
            placeholder="Item Price">
    </div>
    <div class="flex flex-col mb-4 col-span-1">
        <label for="date" class="text-sm ml-3">
            Date
        </label>
        <input type="date" id="date" [formControl]="$any(parentForm.controls['expiration'])"
            class="rounded-2xl p-4 w-72 h-10 border-1 text-black border-black focus:border-green focus:outline-none text-sm">
    </div>
    <div class="flex flex-col mb-4 col-span-3">
        <label for="Description" class="text-sm ml-3">
            Description
        </label>
        <textarea type="text" id="name" [formControl]="$any(parentForm.controls['description'])"
            class="rounded-3xl p-4  h-32 border-1 text-black border-black resize-none focus:border-green focus:outline-none text-sm"
            placeholder="Item Description"></textarea>
    </div>
    <div class="flex flex-col mb-4 col-span-3">
        <label for="Description" class="text-sm ml-3">
            Choose Image
        </label>
        <app-fileupload #fileUpload [imageUrl]="imageUrl" [uploadedFileName]="imageName"></app-fileupload>
    </div>
    <div class="flex flex-row-reverse col-span-3 gap-4">
        <app-button text="Save" icon="pi
        pi-save
        text-sm
         mr-2" class="rounded-full bg-green text-white  text-sm w-28 h-8" (click)="onEditClick()"></app-button>
        <app-button text="Cancel" icon="pi
        pi-times
         mr-2 text-sm" class="rounded-full bg-red text-white  text-sm w-28 h-8"></app-button>
    </div>
</div>